<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<h1>Hi thuis is thymleaf</h1>
		<h1 th:text=${name}></h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem harum sequi nostrum voluptas accusamus possimus dolore eius numquam rem eum doloremque tenetur ipsa aperiam! Perferendis sunt qui officia nulla veritatis totam modi ab quis vel dignissimos sed veniam eos eligendi illo eveniet quibusdam illum deleniti cupiditate facere non magnam quasi.</p>


	</section>
	<!--Iterate controller  -->

</body>
</html>