<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- <h1 th:text="${iterate-list}"></h1> -->
<!-- Loop + elvis  -->
	<ul>
		<li th:each="n,status : ${mylist}">
			<span th:style="${status.odd} ? 'font-weight:bold' : 'color:red' "th:text="${status.index} + ' ' + ${n}"></span>
		
		</li>
	
	</ul>
	<!--If-unless  -->
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	<!--Switch  -->
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List has zero element</h1>
		<h1 th:case="'1'">List has one element</h1>
		<h1 th:case="'3'">List has more than one element</h1>
	
	</div>
	
	
</body>

</html>